<div class="container mt-5">
<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="save(form)" #form="ngForm">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control"
        type="text"
        name="name"
        [class.is-invalid]="name.invalid && name.touched"
        [ngModel]="user.name"
        placeholder="Nombre"
        required
        minlength="5"
        #name="ngModel">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
        type="text"
        name="lastname"
        [class.is-invalid]="lastname.invalid && lastname.touched"
        ngModel
        placeholder="Apellido"
        required
        minlength="5"
        #lastname="ngModel">
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
  <label class="col-2 col-form-label">Correo</label>
  <div class="col-8">
    <input class="form-control"
    type="email"
    [class.is-invalid]="email.invalid && email.touched"
    ngModel
    name="email"
    placeholder="Correo electrónico"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
    #email="ngModel">
  </div>
</div>
<div class="form-group row">
  <label class="col-2 col-form-label">&nbsp;</label>
  <div class="input-group col-md-8">
    <button type="submit" class="btn btn-outline-primary btn-block">
      Guardar
    </button>
  </div>
</div>
</form>
</div>
